<div class="mx-4 my-2">
    <div class="mb-2 p-1 bg-dark rounded">
      <h1 class="text-light">PRACOWNICY</h1>
  <button class="btn btn-success" (click)="add()">Dodaj</button>
  <button class="btn btn-danger" (click)="add()">Usuń</button>
  <input class="form-control mt-2" type="text" name="search" placeholder="Wyszukaj..." [(ngModel)]="filter">
  </div>
  <input class="form-control" type="text" name="search" placeholder="Wyszukaj..." [(ngModel)]="filter">
  <table class="table mt-3 table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="sort('name')">Imię
          <i [ngClass]="{'fa' : true, 'fa-caret-up': reverse && key === 'name','fa-caret-down': !reverse && key === 'name', 'fa-sort': key !== 'name'}"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('surname')">Nazwisko
          <i [ngClass]="{'fa' : true, 'fa-caret-up': reverse && key === 'surname','fa-caret-down': !reverse && key === 'surname', 'fa-sort': key !== 'surname'}"
            aria-hidden="true"></i>
        </th>
        <th scope="col">Login</th>
        <th scope="col">Ulica</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of personnel | orderBy: key : reverse | filter:filter; let i = index" (dblclick)="update(person)">
        <td>{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>{{person.login}}</td>
        <td>{{person.address.address}}</td>
        <td>{{person.address.postalCode}}</td>
        <td>{{person.address.city}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
           <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
        </div>
        <div class="btn-group pull-right">
           <ul class="pagination">
              <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                 <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)" href="#" >{{page}}</a>
                 </li>
              <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Next</a></li>
           </ul>
        </div>
     </div>
  </div>
