<div class="modal-header">
  <h4 class="modal-title">{{editMode ? 'EDYTUJ PRACOWNIKA' : 'DODAJ PRACOWNIKA'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
        <form #ownerForm="ngForm" class="m-3">
          <div class="row">
            <div class="col-md-6 mb-3 form-group">
              <label for="name">Imię</label>
              <input id="name" name="name" class="form-control" [class.is-invalid]="name.invalid && (name.touched || submitted)" [class.is-valid]="name.valid && (name.touched || submitted)"
                [(ngModel)]="modelCopy.name" #name="ngModel" required>

              <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="invalid-feedback">
                <div *ngIf="name?.errors.required">
                  Imię jest wymagane.
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="surname">Nazwisko</label>
              <input id="surname" name="surname" class="form-control" [class.is-invalid]="surname.invalid && (surname.touched || submitted)"
                [class.is-valid]="surname.valid && (surname.touched || submitted)" [(ngModel)]="modelCopy.surname" #surname="ngModel"
                required>

              <div *ngIf="surname.invalid && (surname.dirty || surname.touched || submitted)" class="invalid-feedback">
                <div *ngIf="surname?.errors.required">
                  Nazwisko jest wymagane.
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="address">Ulica</label>
              <input id="address" name="address" class="form-control" [class.is-invalid]="address.invalid && (address.touched || submitted)"
                [class.is-valid]="address.valid && (address.touched || submitted)" [(ngModel)]="modelCopy.address.address"
                #address="ngModel" required>

              <div *ngIf="address.invalid && (address.dirty || address.touched || submitted)" class="invalid-feedback">
                <div *ngIf="address?.errors.required">
                  Ulica jest wymagana.
                </div>

              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="city">Miasto</label>
              <input id="city" name="city" class="form-control" [class.is-invalid]="city.invalid && (city.touched || submitted)" [class.is-valid]="city.valid && (city.touched || submitted)"
                [(ngModel)]="modelCopy.address.city" #city="ngModel" required>

              <div *ngIf="city.invalid && (city.dirty || city.touched || submitted)" class="invalid-feedback">
                <div *ngIf="city?.errors.required">
                  Miasto jest wymagane.
                </div>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <label for="postal">Kod</label>
              <input id="postal" name="postal" class="form-control" [class.is-invalid]="postal.invalid && (postal.touched || submitted)"
                [class.is-valid]="postal.valid && (postal.touched || submitted)" [(ngModel)]="modelCopy.address.postalCode"
                #postal="ngModel" required pattern="[0-9]{2}-[0-9]{3}">
              <div *ngIf="postal.invalid && (postal.dirty || postal.touched || submitted)" class="invalid-feedback">
                <div *ngIf="postal?.errors.required">
                  Kod pocztowy jest wymagany.
                </div>
                <div *ngIf="postal?.errors.pattern">
                  Błędny kod pocztowy.
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!editMode" class="row">
            <div class="col-md-6 mb-3">
              <label for="login">Login</label>
              <input id="login" name="login" class="form-control" required [disabled]="editMode" [class.is-invalid]="login.invalid && (login.touched || submitted)"
                [class.is-valid]="login.valid && (login.touched || submitted)" [(ngModel)]="modelCopy.login" #login="ngModel">

              <div *ngIf="login.invalid && (login.dirty || login.touched || submitted)" class="invalid-feedback">
                <div *ngIf="login?.errors.required">
                  Login jest wymagany.
                </div>
              </div>
            </div>
          </div>
        </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmit()">Zatwierdź</button>
  <button type="button" class="btn btn-outline-dark" (click)="onDismiss()">Zamknij</button>
</div>