<div class="mx-4 my-2">
  <div class="mb-2 p-1 bg-dark rounded">
    <h1 class="text-light">PRACOWNICY</h1>
    <button class="btn btn-outline-success" (click)="add()">Dodaj</button>
    <button class="btn btn-outline-danger" [disabled]="!selected" (click)="delete()">Usuń</button>
  </div>
  <div class="float-right mr-5 row">
    <button class="btn btn-outline-secondary btn-sm refresh-button" (click)="getPersonnel()" [disabled]="busy"><i class="fa fa-spinner" [ngClass]="{'fa-pulse': busy}"></i></button>
    <pagination-controls *ngIf="filteredItems" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
  </div>
  <table class="table mt-3 table-striped table-hover">
    <thead class="bg-dark text-light">
      <tr>
        <th scope="col">Imię
        </th>
        <th scope="col">Nazwisko
        </th>
        <th scope="col">Login</th>
        <th scope="col">Ulica</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of personnel | paginate: { itemsPerPage: 10, currentPage: p }" [class.table-active]="selected === person" (click)="selected = person" (dblclick)="update(person)">
        <td>{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>{{person.login}}</td>
        <td>{{person.address.address}}</td>
        <td>{{person.address.postalCode}}</td>
        <td>{{person.address.city}}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="!filteredItems?.length" class="text-secondary pl-3">
    <i class="fa fa-info-circle text-danger"></i>
    Tabela jest pusta
  </span>
  <div class="float-right mr-5">
    <pagination-controls *ngIf="filteredItems" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>