<div class="mx-4 my-2">
    <div class="mb-2 p-1 bg-dark rounded">
        <h1 class="text-light">WIZYTY</h1>
        <form class="form-inline">
            <button class="btn btn-sm btn-outline-light" (click)="showDayVisits(); view = 'day'" [disabled]="view === 'day'">Widok dnia</button>
            <button class="btn btn-sm btn-outline-light ml-2" (click)="showWeekVisits(); view = 'week'" [disabled]="view === 'week'">Widok tygodnia</button>
        </form>
    </div>
    <div class="float-right mr-5 row">
        <button class="btn btn-outline-secondary btn-sm refresh-button" (click)="getVisits()" [disabled]="busy"><i class="fa fa-spinner" [ngClass]="{'fa-pulse': busy}"></i></button>
        <pagination-controls *ngIf="filteredItems" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
    </div>
    <table class="table mt-3 table-striped table-hover">
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Typ</th>
                <th scope="col">Opis</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let visit of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }" (dblclick)="update(visit)">
                <td>{{visit.date | date:'d-MM-y, HH:mm'}}</td>
                <td>{{visit.visitType.type}}</td>
                <td>
                    <button class="btn btn-outline-dark" placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="visit.description">...</button>
                </td>
                <td>
                    <button class="btn btn-outline-dark" (click)="showAnimal(visit.idVisit)">Zwierzę</button>
                </td>
                <td>
                    <button class="btn btn-outline-dark" (click)="showMedicines(visit)">Leki</button>
                </td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="!filteredItems?.length" class="text-secondary pl-3">
            <i class="fa fa-info-circle text-danger"></i>
            Tabela jest pusta
          </span>
    <div class="float-right mr-5">
        <pagination-controls *ngIf="filteredItems" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>