<div class="modal-header">
  <h4 class="modal-title">{{modalTitle[mode]}}</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <ngb-tabset>
    <ngb-tab title="DANE">
      <ng-template ngbTabContent> -->
        <form #petForm="ngForm" class="m-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">Imię</label>
              <input type="text" class="form-control" id="name" required [disabled]="mode === 'VIEW'" [(ngModel)]="modelCopy.name" name="name" #name="ngModel">
            </div>
            <div class="col-md-6 mb-3">
              <label for="name">Data urodzenia</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [disabled]="mode === 'VIEW'" [(ngModel)]="modelCopy.birthDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append" [hidden]="mode === 'VIEW'">
                  <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-2 mb-3">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="active" [disabled]="mode === 'EDIT' || mode === 'VIEW'" [checked]="modelCopy.active" (change)="modelCopy.active = !modelCopy.active">
                <label class="custom-control-label" for="active">Aktywne</label>
              </label>
            </div>
            <div class="col-md-3 mb-3">
              <label for="type">Typ</label>
              <select class="form-control" [disabled]="mode === 'VIEW'" id="type" [(ngModel)]="modelCopy.animalType" name="type">
                <option *ngFor="let type of animalTypes" [ngValue]="type" [selected]="type.type === modelCopy.animalType.type">{{type.type}}</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label for="color">Kolor</label>
              <select class="form-control" [disabled]="mode === 'VIEW'" id="color" [(ngModel)]="modelCopy.color" name="color">
                <option *ngFor="let color of colors" [ngValue]="color" [selected]="color.color === modelCopy.color.color">{{color.color}}</option>
              </select>
            </div>
          </div>
        </form>
      <!-- </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="this.mode === 'NEW'" title="WIZYTY">
      <ng-template ngbTabContent>
        <div class="mt-2">
          <button class="btn btn-success" [hidden]="mode === 'VIEW'" (click)="addVisit()">Nowa</button>
          <table class="table mt-3 table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Typ</th>
                <th scope="col">Opis</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let visit of modelCopy.visits" (dblclick)="updateVisit(visit)">
                <th>{{visit.date | date:'d-MM-y, HH:mm'}}</th>
                <td>{{visit.visitType.type}}</td>
                <td>{{visit.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmit()">Zatwierdź</button>
  <button type="button" class="btn btn-outline-dark" (click)="onDismiss()">Zamknij</button>
</div>