<div class="modal-header">
  <h4 class="modal-title">{{editMode ? 'EDYTUJ ZWIERZĘ' : 'DODAJ ZWIERZĘ'}}</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset>
    <ngb-tab title="DANE">
      <ng-template ngbTabContent>
        <form #petForm="ngForm" class="m-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">Imię</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="modelCopy.name" name="name" #name="ngModel">
            </div>
            <div class="col-md-6 mb-3">
              <label for="name">Data urodzenia</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelCopy.birthDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-2 mb-3">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="active" [checked]="modelCopy.active" (change)="modelCopy.active = !modelCopy.active">
                <label class="custom-control-label" for="active">Aktywne</label>
              </label>
            </div>
            <div class="col-md-2 mb-3">
              <label for="type">Typ</label>
              <select class="form-control" id="type" [(ngModel)]="modelCopy.animalType.type" name="type">
                <option>Pies</option>
                <option>Kot</option>
                <option>Królik</option>
                <option>Żółw</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label for="color">Kolor</label>
              <select class="form-control" id="color" [(ngModel)]="modelCopy.color.color" name="color">
                <option>Płowy</option>
                <option>Beżowy</option>
                <option>Czarny</option>
                <option>Czarny podpalany</option>
              </select>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 mb-3">
              <label for="name">Właściciel</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="modelCopy.name" name="name" #name="ngModel">
            </div>
          </div> -->

        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="WIZYTY">
      <ng-template ngbTabContent>
        <div class="mt-2">
          <button class="btn btn-success" (click)="addVisit()">Nowa</button>
          <table class="table mt-3 table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Typ</th>
                <th scope="col">Data</th>
                <th scope="col">Zwierzę</th>
                <th scope="col">Opis</th>
                <th scope="col">Weterynarz</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let owner of owners" (dblclick)="update(owner)">
                              <th>{{owner.idOwner}}</th>
                              <td>{{owner.name}}</td>
                              <td>{{owner.surname}}</td>
                              <td>{{owner.login}}</td>
                              <td>{{owner.tel}}</td>
                              <td>{{owner.address.address}}, {{owner.address.postalCode}} {{owner.address.city}}</td>
                            </tr> -->
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmit()">Zatwierdź</button>
  <button type="button" class="btn btn-outline-dark" (click)="onDismiss()">Zamknij</button>
</div>