<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{modes[mode].title | uppercase}}</h5>
    <button type="button" class="btn btn-outline-secondary btn-sm" aria-label="Close" (click)="activeModal.dismiss('cancel')">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="modal-body p-0">
    <div class="p-3">

      <div class="form-row align-items-center m-0">

        <div class="col-md-4 mb-3 mt-2">
          <label for="surname"></label>
          <input type="text" class="form-control" [placeholder]="'Nazwa...'" id="valueInput" name="valueInput" #valueInput="ngModel"
            [(ngModel)]="newValue" (ngModelChange)="clearDuplicateInfo()">
        </div>

        <div *ngIf="mode === 'MEDICINES'" class="col-md-2 mb-3">
          <label for="surname">Min. liczba</label>
          <input type="number" class="form-control" [(ngModel)]="minAmount">
        </div>

        <div *ngIf="mode === 'MEDICINES'" class="col-md-2 mb-3">
          <label for="surname">Liczba</label>
          <input type="number" class="form-control" [(ngModel)]="amount">
        </div>

        <div class="col-md-4 mb-3 mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="!newValue || (mode === 'MEDICINES' && amount === 0)" (click)="add()">DODAJ
          </button>
        </div>
      </div>

      <span *ngIf="duplicate" class="text-secondary pl-3">
        <i class="fa fa-exclamation-circle text-primary"></i>
        DUPLIKAT
      </span>

      <br />

      <table class="table table-hover table-sm">

        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th *ngIf="mode === 'MEDICINES'" scope="col">Minimalna ilość</th>
            <th *ngIf="mode === 'MEDICINES'" scope="col">Aktualna ilość</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dictVal of dictionary" [ngClass]="{'table-danger': mode === 'MEDICINES' && dictVal.minAmount >= dictVal.amount }">
            <td >{{dictVal[modes[mode].attr]}}</td>
            <td *ngIf="mode === 'MEDICINES'">{{dictVal.minAmount}}</td>
            <td *ngIf="mode === 'MEDICINES'">{{dictVal.amount}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">
      ZAPISZ
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">ANULUJ</button>
  </div>
</div>