<h1>Owner section</h1>
<div class="m-4">
    <div class="ml-5">
  <button class="btn btn-success" (click)="add()">Dodaj</button>
  <button class="btn btn-danger" (click)="add()">Usuń</button>
  </div>
  <input class="form-control mt-3" type="text" name="search" placeholder="Wyszukaj..." [(ngModel)]="filter">
  <table class="table mt-3 table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col" (click)="sort('name')">Imię <i [hidden]="key !=='name'" [ngClass]="{'fa fa-sort-alpha-desc':reverse,'fa fa fa-sort-alpha-asc fa-fw':!reverse}" aria-hidden="true"></i></th>
        <th scope="col" (click)="sort('surname')">Nazwisko <i [hidden]="key !=='surname'" [ngClass]="{'fa fa-sort-alpha-desc':reverse,'fa fa fa-sort-alpha-asc fa-fw':!reverse}" aria-hidden="true"></i></th>
        <th scope="col" (click)="sort('login')">Login <i [hidden]="key !=='login'" [ngClass]="{'fa fa-sort-alpha-desc': reverse,'fa fa fa-sort-alpha-asc fa-fw': !reverse}" aria-hidden="true"></i></th>
        <th scope="col">Telefon</th>
        <th scope="col">Adres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of owners | orderBy: key : reverse | filter:filter; let i = index" (dblclick)="update(owner)">
        <th>{{owner.idOwner}}</th>
        <td>{{owner.name}}</td>
        <td>{{owner.surname}}</td>
        <td>{{owner.login}}</td>
        <td>{{owner.tel}}</td>
        <td>{{owner.address.address}}, {{owner.address.postalCode}} {{owner.address.city}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
           <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
        </div>
        <div class="btn-group pull-right">
           <ul class="pagination">
              <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                 <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)" href="#" >{{page}}</a>
                 </li>
              <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Next</a></li>
           </ul>
        </div>
     </div>
  </div>
