<div class="mx-4 my-2">
  <div class="mb-2 p-1 bg-dark rounded">
    <h1 class="text-light">WŁAŚCICIELE</h1>
    <button class="btn btn-outline-success" (click)="add()">Dodaj</button>
    <button class="btn btn-outline-danger" (click)="add()">Usuń</button>
    <div class="card-header">
      <button type="button" class="btn btn-link btn-sm" [hidden]="open" (click)="open = !open">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        POKAŻ FILTRY
      </button>
      <button type="button" class="btn btn-link btn-sm" [hidden]="!open" (click)="open = !open">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        UKRYJ FILTRY
      </button>
      <button type="button" class="btn btn-primary btn-sm" [hidden]="!open" (click)="searchButtonClick()">
        <i class="fa fa-search" aria-hidden="true"></i>
        WYSZUKAJ
      </button>

      <button type="button" class="btn btn-outline-secondary btn-sm" [hidden]="!open" (click)="clearFilter()">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        WYCZYŚĆ
      </button>
    </div>
    <div [hidden]="!open" class="card-header">
      <div class="row">
        <div class="col-md-3 mb-2 form-group">
          <input class="form-control mt-2" type="text" placeholder="Imię i nazwisko..." [(ngModel)]="filterName">
        </div>
        <div class="col-md-3 mb-2 form-group">
          <input class="form-control mt-2" type="text" placeholder="Adres..." [(ngModel)]="filterAddress">
        </div>
      </div>
    </div>
  </div>
  <table *ngIf="filteredItems?.length > 0" class="table mt-3 table-striped table-hover">
    <thead class="bg-dark text-light">
      <tr>
        <th scope="col">Imię
        </th>
        <th scope="col">Nazwisko
        </th>
        <th scope="col">Telefon</th>
        <th scope="col">Ulica</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of filteredItems |  paginate: { itemsPerPage: 10, currentPage: p }" [class.table-active]="selected === owner"
        (click)="onSelect(owner)" (dblclick)="update(owner)">
        <td>{{owner.name}}</td>
        <td>{{owner.surname}}</td>
        <td>{{owner.tel}}</td>
        <td>{{owner?.address.address}}</td>
        <td>{{owner?.address.postalCode}}</td>
        <td>{{owner?.address.city}}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="!filteredItems?.length" class="text-secondary pl-3">
    <i class="fa fa-info-circle text-danger"></i>
    Tabela jest pusta
  </span>
  <div class="float-right mr-5">
    <pagination-controls *ngIf="filteredItems" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>