<div class="modal-header">
  <h4 class="modal-title">{{editMode ? 'EDYTUJ WŁAŚCICIELA' : 'DODAJ WŁAŚCICIELA'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset>
    <ngb-tab title="DANE">
      <ng-template ngbTabContent>
        <form #ownerForm="ngForm" class="m-3">
          <div class="row">
            <div class="col-md-6 mb-3 form-group">
              <label for="name">Imię</label>
              <input id="name" name="name" class="form-control" [class.is-invalid]="name.invalid && (name.touched || submitted)" [class.is-valid]="name.valid && (name.touched || submitted)"
                [(ngModel)]="modelCopy.name" #name="ngModel" required>

              <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="invalid-feedback">
                <div *ngIf="name?.errors.required">
                  Imię jest wymagane.
                </div>

              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="surname">Nazwisko</label>
              <input id="surname" name="surname" class="form-control" [class.is-invalid]="surname.invalid && (surname.touched || submitted)"
                [class.is-valid]="surname.valid && (surname.touched || submitted)" [(ngModel)]="modelCopy.surname" #surname="ngModel"
                required>

              <div *ngIf="surname.invalid && (surname.dirty || surname.touched || submitted)" class="invalid-feedback">
                <div *ngIf="surname?.errors.required">
                  Nazwisko jest wymagane.
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="address">Ulica</label>
              <input id="address" name="address" class="form-control" [class.is-invalid]="address.invalid && (address.touched || submitted)"
                [class.is-valid]="address.valid && (address.touched || submitted)" [(ngModel)]="modelCopy.address.address"
                #address="ngModel" required>

              <div *ngIf="address.invalid && (address.dirty || address.touched || submitted)" class="invalid-feedback">
                <div *ngIf="address?.errors.required">
                  Ulica jest wymagana.
                </div>

              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="city">Miasto</label>
              <input id="city" name="city" class="form-control" [class.is-invalid]="city.invalid && (city.touched || submitted)" [class.is-valid]="city.valid && (city.touched || submitted)"
                [(ngModel)]="modelCopy.address.city" #city="ngModel" required>

              <div *ngIf="city.invalid && (city.dirty || city.touched || submitted)" class="invalid-feedback">
                <div *ngIf="city?.errors.required">
                  Miasto jest wymagane.
                </div>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <label for="postal">Kod</label>
              <input id="postal" name="postal" class="form-control" [class.is-invalid]="postal.invalid && (postal.touched || submitted)"
                [class.is-valid]="postal.valid && (postal.touched || submitted)" [(ngModel)]="modelCopy.address.postalCode"
                #postal="ngModel" required pattern="[0-9]{2}-[0-9]{3}">
              <div *ngIf="postal.invalid && (postal.dirty || postal.touched || submitted)" class="invalid-feedback">
                <div *ngIf="postal?.errors.required">
                  Kod pocztowy jest wymagany.
                </div>
                <div *ngIf="postal?.errors.pattern">
                  Błędny kod pocztowy.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="tel">Telefon komórkowy</label>
              <input id="tel" name="tel" class="form-control" [class.is-invalid]="tel.invalid && (tel.touched || submitted)" [class.is-valid]="tel.valid && (tel.touched || submitted)"
                [(ngModel)]="modelCopy.tel" #tel="ngModel" required pattern="^([0-9]{9})|(([0-9]{3}-){2}[0-9]{3})$">
              <div *ngIf="tel.invalid && (tel.dirty || tel.touched || submitted)" class="invalid-feedback">
                <div *ngIf="tel?.errors.required">
                  Telefon jest wymagany.
                </div>
                <div *ngIf="tel?.errors.pattern">
                  Błędny telefon.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mb-2">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="modelCopy.onlineReg" id="onlineReg" (change)="registerChange()">
                <label class="custom-control-label" for="onlineReg">Rejestracja online</label>
              </label>
            </div>
          </div>
          <div [hidden]="!modelCopy.onlineReg" class="row">
            <div class="col-md-6 mb-3">
              <label for="login">Login</label>
              <input id="login" name="login" class="form-control" [class.is-invalid]="login.invalid && (login.touched || submitted)" [class.is-valid]="login.valid && (login.touched || submitted)"
                [(ngModel)]="modelCopy.login" #login="ngModel">

              <div *ngIf="login.invalid && (login.dirty || login.touched || submitted)" class="invalid-feedback">
                <div *ngIf="login?.errors.required">
                  Login jest wymagany.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="password">Hasło</label>
              <input id="password" name="password" type="password" class="form-control" [class.is-invalid]="password.invalid && (password.touched || submitted)"
                [class.is-valid]="password.valid && (password.touched || submitted)" [(ngModel)]="modelCopy.password" #password="ngModel">

              <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="invalid-feedback">
                <div *ngIf="password?.errors.required">
                  Hasło jest wymagane.
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="ZWIERZĘTA">
      <ng-template ngbTabContent>
        <div class="mt-2">
          <div class="mb-2 p-1 bg-dark rounded">
            <button class="btn btn-success" (click)="addAnimal()">Dodaj</button>
            <!-- <button class="btn btn-danger" (click)="deleteAnimal()" [disabled]="!selected">Usuń</button> -->
          </div>
          <table class="table mt-3 table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Imię</th>
                <th scope="col">Typ</th>
                <th scope="col">Data urodzenia</th>
                <th scope="col">Aktywne</th>
                <th scope="col">Kolor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let animal of modelCopy.animals" [class.table-active]="selected === animal" (click)="selected = animal" (dblclick)="update(animal)">
                <td>{{animal.name}}</td>
                <td>{{animal.animalType.type}}</td>
                <td>{{animal.birthDate | date:'fullDate'}}</td>
                <td>
                  <i [ngClass]="{'fa' : true, 'fa-check text-success': animal.active,'fa-times text-danger': !animal.active}" aria-hidden="true"></i>
                </td>
                <td>{{animal.color.color}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmit()">Zatwierdź</button>
  <button type="button" class="btn btn-outline-dark" (click)="onDismiss()">Zamknij</button>
</div>