<div class="modal-header">
  <h5 class="modal-title">Zmień hasło</h5>
</div>
<div class="modal-body">
  <form #changePasswordForm="ngForm" class="mx-4 p-2">
    <div class="form-group">
      <label>Stare hasło</label>
      <input type="password" id="oldPasswordInput" name="oldPasswordInput" class="form-control"
        [class.is-invalid]="oldPasswordInput.invalid && (oldPasswordInput.touched || submitted)"
        [class.is-valid]="oldPasswordInput.valid && (oldPasswordInput.touched || submitted)"
        [(ngModel)]="oldPassword" #oldPasswordInput="ngModel" required>
      <div *ngIf="oldPasswordInput.invalid && (oldPasswordInput.dirty || oldPasswordInput.touched || submitted)"
        class="invalid-feedback">
        <div *ngIf="oldPasswordInput?.errors.required">
          Stare hasło jest wymagane.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Nowe hasło</label>
      <input type="password" id="newPasswordInput" name="newPasswordInput" class="form-control"
        [class.is-invalid]="newPasswordInput.invalid && (newPasswordInput.touched || submitted)"
        [class.is-valid]="newPasswordInput.valid && (newPasswordInput.touched || submitted)"
        [(ngModel)]="newPassword" #newPasswordInput="ngModel" required>
      <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched || submitted)"
        class="invalid-feedback">
        <div *ngIf="oldPasswordInput?.errors.required">
          Nowe hasło jest wymagane.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label translate>Potwierdź hasło</label>
      <input type="password" id="repeatPasswordInput" name="repeatPasswordInput" class="form-control"
        [class.is-invalid]="repeatPasswordInput.invalid && (repeatPasswordInput.touched || submitted)"
        [class.is-valid]="repeatPasswordInput.valid && (repeatPasswordInput.touched || submitted)"
        [(ngModel)]="repeatPassword" #repeatPasswordInput="ngModel" required pattern={{newPassword}}>
      <div *ngIf="repeatPasswordInput.invalid && (repeatPasswordInput.dirty || repeatPasswordInput.touched || submitted)"
        class="invalid-feedback">
        <div *ngIf="repeatPasswordInput?.errors.required">
          Potwierdzenie nowego hasła jest wymagane.
        </div>
        <div *ngIf="repeatPasswordInput?.errors.pattern">
          Niezgodne hasła.
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="loginError" class="text-danger" translate>
    <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>{{errorMessage}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveNewPassword()">
    <i class="fa fa-circle-o-notch fa-spin fa-fw" [hidden]="!busy"></i>Zmień hasło</button>

  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Anuluj</button>
</div>
