<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-link" [routerLink]="['/app/home']"><i class="fa fa-paw fa-fw" aria-hidden="true"></i>Klinika weterynaryjna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['owners']">Właściciele</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pets']">Zwierzęta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['visits']">Wizyty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pets']">Pracownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pets']">Grafik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pets']">Zarezerwuj wizytę</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pets']">Informacje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div ngbDropdown class="d-inline-block" placement="bottom-right">
    <button class="btn btn-link text-dark" id="dropdownBasic1" ngbDropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      TEST
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdown_mod" class="p-3">
      <h5>TEST</h5>
      <div class="dropdown-divider"></div>
      <button class="btn btn-default btn-block">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span translate>WYLOGUJ</span>
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>